
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="/Basics/Index">
    @Html.AntiForgeryToken()
    <input type="text" name="email" />
    <input type="password" name="password" />
    <input type="password" name="passwordconfirmation" />
    <input type="submit" value="Submit" />
</form>